<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.logindemo.mapper.UserRoleMapper">
    
    <select id="selectRoleIdsByUserId" resultType="java.lang.Long">
        SELECT role_id FROM user_roles WHERE user_id = #{userId}
    </select>
    
    <delete id="deleteByUserId">
        DELETE FROM user_roles WHERE user_id = #{userId}
    </delete>
    
    <insert id="insertBatch">
        INSERT INTO user_roles (user_id, role_id, created_at) VALUES
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{userId}, #{roleId}, NOW())
        </foreach>
    </insert>
</mapper>